@model OSlight.App.ViewModels.AbrirOSViewModel

@{
    ViewData["Title"] = "Fechar Chamado";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-success" role="alert">Finalizando o chamado <b>@Model.Titulo</b></div>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="FecharChamado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FecharOS.Id" />
            <input type="hidden" asp-for="FecharOS.AbrirOSId" />
            <div class="form-group">
                <label asp-for="FecharOS.DataFechamento" class="control-label"></label>
                <input type="date" readonly asp-for="FecharOS.DataFechamento" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="FecharOS.DataFechamento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FecharOS.Descricao" class="control-label"></label>
                <textarea asp-for="FecharOS.Descricao" id="mytextarea" placeholder="Escreva aqui o que foi feito..."></textarea>
                <span asp-validation-for="FecharOS.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        tinymce.init({
            selector: '#mytextarea'
        });
</script>
}
