@model OSlight.App.ViewModels.FecharOSViewModel

@{
    ViewData["Title"] = "Finalizar Chamado";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AbrirOSId" class="form-control" value="@ViewBag.AbrirOSId" />
            <div class="form-group">
                <label asp-for="DataFechamento" class="control-label"></label>
                <input type="date" readonly asp-for="DataFechamento" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="DataFechamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea style="resize: none" style="resize: none" rows="15" asp-for="Descricao" id="descricao" placeholder="Escreva aqui o que foi feito..."></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Finalizar" class="btn btn-success" />
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script>
       tinymce.init({
           selector: '#descricao'
       });
   </script>
}
