@model OSlight.App.ViewModels.FecharOSViewModel

@{
    ViewData["Title"] = "Editar Chamado Finalizado";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AbrirOSId" class="control-label"></label>
                <input type="hidden" asp-for="AbrirOSId" value="@Model.AbrirOSId" />
                <span asp-validation-for="AbrirOSId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFechamento" class="control-label"></label>
                <input asp-for="DataFechamento" class="form-control" />
                <span asp-validation-for="DataFechamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea rows="15" id="descricaofinal" asp-for="Descricao">@Model.Descricao</textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a class="btn btn-info" asp-action="Index">Votlar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        tinymce.init({
            selector: '#descricaofinal'
        });
    </script>
}
